@use 'src/styles/mixins' as *;
@use 'src/styles/colors' as *;
@use 'src/styles/general' as *;

.modal {
    @include shadow;
    border-radius: $border-radius;
    width: 95%;

    &__wrapper {
        @include transition(opacity 0.3s ease-in-out);
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        
        &.open {
            @include flexcenter;
            visibility: visible;
            max-height: 100rem;
            opacity: 1;
            padding: 1rem;
            background-color: $grey-light-transparent;
            position: fixed;
            top: 0;
            bottom: 0;
            z-index: 2;
            width: 100%;
        }
    }

    &__title {
        background-color: $grey-subtle;
        border-bottom: 1px solid $grey;
        padding: 1rem;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        font-size: large;
        font-weight: bold;
        color: $primary;
    }

    &__content {
        position: relative;
        padding: 1rem;
        background-color: white;
        max-height: 70vh;
        overflow-y: auto;

        .loading-indicator {
            @include flexcenter;
            position:  absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: $grey-subtle-transparent;
            z-index: 2;
        }
    }

    &__footer {
        background-color: $grey-subtle;
        border-top: 1px solid $grey;
        padding: 1rem;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}