@use 'src/styles/mixins' as *;
@use 'src/styles/colors' as *;

.picture {
    @include flexcenter;
    margin-bottom: 1.5rem;
    position: relative;
    
    img {
        width: 10rem;
        height: 10rem;
        background-size: cover;
    }

    input[type=file] {
        display: none;
    }
}