<h1>Categories</h1>

<div>
    <app-button (click)="categoryModal.open()">Create new</app-button>
</div>

<app-modal [loading]="fetchingFormInfo" (closed)="resetForm()" [title]="editCategoryId != null ? 'Update category' : 'Create new category'" #categoryModal>
    <div content>
        <app-add-picture [picturePreviewUrl]="categoryForm.controls['imagePath'].value" (fileChanged)="pictureChanged($event)"></app-add-picture>
        <app-input label="Name" [control]="categoryForm.controls['name']" type="text"></app-input>
        <app-input label="Description" [control]="categoryForm.controls['description']" rows="4" type="textarea"></app-input>
        <app-input label="Active until" [control]="categoryForm.controls['activeUntil']" type="date"></app-input>
        <app-input label="Daily cutoff time" [control]="categoryForm.controls['dailyCutoffTime']" type="time"></app-input>
        <app-toggle-button label="Promote" [control]="categoryForm.controls['promote']"></app-toggle-button>
    </div>
    <div class="footer">
        <app-button (click)="categoryModal.close()" type="outline-primary">Cancel</app-button>
        <app-button [loading]="processingInput" *ngIf="editCategoryId == null" (click)="createNewCategory()">Create</app-button>
        <app-button [loading]="processingInput" *ngIf="editCategoryId != null" (click)="updateCategory()">Update</app-button>
    </div>
</app-modal>

<!-- Skeleton loader -->
<div class="grid grid-cols-2 gap-6 categories mt-2 skeleton-loader" *ngIf="fetchingInitialData">
    <div *ngFor="let category of [1, 2, 3, 4]" class="item">
        <div class="loader"></div>
        <div>
            <img src="assets/icons/category-default.webp" alt="image of category" />
            <div class="flex flex-col p-1 mt-4">
                <span class="title">dummy</span>
                <small class="mt-2 description">dummy</small>
            </div>
        </div>
        <div class="delete text-center text-red-600 p-2 border-t-2 border-grey-200 mt-2">
            dummy
        </div>
    </div>
</div>
<!-- Skeleton loader ENDS -->

<div class="grid grid-cols-2 gap-6 categories mt-2">
    <div *ngFor="let category of categories" class="item">
        <div (click)="editCategory(category.uid)">
            <img [src]="category.imagePath" alt="image of category" />
            <div class="flex flex-col p-1 mt-4">
                <span class="title">{{category.name}}</span>
                <small class="mt-2 description">{{category.description}}</small>
            </div>
        </div>
        <div (click)="deleteCategory(category.uid)" class="delete text-center text-red-600 p-2 border-t-2 border-grey-200 mt-2">
            Delete
        </div>
    </div>
</div>

<div *ngIf="!fetchingInitialData && categories.length == 0">
    There are no categories at this time
</div>


