@use 'src/styles/mixins' as *;
@use 'src/styles/colors' as *;
@use 'src/styles/general' as *;

.categories {
    position: relative;

    .item {
        border: 1px solid $grey-light;
        border-radius: $border-radius;

        img {
            width: 100%;
            height: 10rem;
            border-top: $border-radius;
            border-bottom: 1px solid $grey-light;
            background-size: cover;
        }

        .title {
            font-weight: bold;
        }

        .description {
            display: -webkit-box;
            max-width: 200px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .delete {
            @include transition(background-color 0.1s ease-in-out, color 0.1s ease-in-out);
            border-bottom: $border-radius;

            &:active {
                background-color: $secondary;
                color: white;
            }
        }

        &:active {
            @include shadow;
            transform: scale(0.97);
        }

        &:hover {
            @include shadow;
        }
    }

    &__loading {
        @include flexcenter;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &.skeleton-loader {
        .item {
            position: relative;
            overflow-y: hidden;

            .loader {
                height: 30%;
                width: 100%;
                background-color: rgb(204 204 204 / 38%);
                background-image: linear-gradient(rgba(252, 252, 252, 0.503), rgba(220, 220, 220, 0.235));
                position: absolute;
                animation: skeleton-loader 1.3s infinite linear;
            }

            img {
                opacity: 0.2;
            }
            .title, .description, .delete {
                background-color: $grey-light;
                color: transparent;
            }
        }
    }
}

.footer {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
}

@keyframes skeleton-loader {
    0% {
        opacity: 0.1;
        transform: translateY(-7rem);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
        transform: translateY(15rem);
    }
  }