$grey: #a5a5a5;
$grey-subtle: #efefef;
$grey-light-transparent: rgba(230, 230, 230, 0.9);
$grey-light: #cccccc;
$grey-dark: #929292;

$primary: #4263eb;
$primary-light: #bac8ff;
$secondary: #e54d03;
$secondary-light: #f6bfa4;

$error: #f44420;
$error-light: #ff2f06;
$info: #039be5;
$info-light: #00a0f1;
$success: #00b500;
$success-light: #00c700;