@use 'src/styles/mixins' as *;
@use 'src/styles/colors' as *;
@use 'src/styles/general' as *;


.input {
    @include flexbox;
    @include flex-direction(column);
    row-gap: 0.2rem;
    margin-bottom: 2rem;
    position: relative;

    label {
        font-size: 0.9rem;
        width: fit-content;

        &.error {
            color: $error-light;
            font-weight: bold;
        }

        .required-indicator {
            color: $error-light;

            &.optional {
                color: $grey-light;
                font-size: 0.7rem;
            }
        }
    }

    .max-word-counter {
        font-size: 0.6rem;
        color: $error-light;
        position: absolute;
        top: 0.5rem;
        right: 0.4rem;
        font-weight: bold;
    }

    input, textarea {
        height: 2.5rem;
        border-radius: $border-radius;
        font-size: 1.5rem;
        border: 1px solid $grey-light;
        padding: 0 0.5rem;

        &:focus-visible {
            outline: 1px solid $primary;
            box-shadow: 0 0 4px $primary;
        }

        &.error {
            border: 1px solid $secondary;
        }
    }

    textarea {
        height: auto;
    }

    small {
        position: absolute;
        bottom: -1rem;
        color: $secondary;
        font-size: 0.7rem;
    }
}