<div class="input">
    <label [class.error]="control.invalid && control.touched">{{label}}</label>
    <input *ngIf="type != 'textarea'" [autocomplete]="!autocomplete ? 'off' : 'on'" [formControl]="control" [type]="type" [class.error]="control.invalid && control.touched"> 
    <textarea rows="2" *ngIf="type == 'textarea'" [autocomplete]="!autocomplete ? 'off' : 'on'" [formControl]="control" [class.error]="control.invalid && control.touched">

    </textarea>
    <small *ngIf="control.invalid && control.touched">
        <div *ngIf="control.hasError('required')">Please make sure this field above is filled in</div>
        <div *ngIf="control.hasError('minlength')">This field needs to be at least {{ control.errors?.['minlength'].requiredLength }} characters long</div>
        <div *ngIf="control.hasError('maxlength')">This field needs to be less than {{ control.errors?.['maxlength'].requiredLength }} characters long</div>
        <div *ngIf="control.hasError('min')">The number above needs to more than or equal to {{ control.errors?.['min'].min }}</div>
        <div *ngIf="control.hasError('email')">Please make sure to enter a valid email address</div>
        <div *ngIf="control.hasError('custom')">{{ control.errors?.['custom'].message }}</div>
    </small>
</div>  