/* You can add global styles to this file, and also import other style files */
@use 'src/styles/general';
@use 'src/styles/mixins' as *;
@use 'src/styles/colors' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    margin: 0;
}

body {
    overflow: auto;

    &.no-scroll {
        overflow-y: hidden !important;
        touch-action: none;
    }
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}


a, button {
    cursor: pointer;

    &:disabled {
        pointer-events: none;
    }
}

a {
    color: $primary;
    text-decoration: none;
}

*:disabled { // all disabled INPUTS
    background-color: var(--disabled-bg-color);
    color: var(--disabled-font-color);
    cursor: auto;
    pointer-events: none;
}