/* You can add global styles to this file, and also import other style files */
@use 'src/styles/general';
@use 'src/styles/mixins' as *;
@use 'src/styles/colors' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    margin: 0;
}

body {
    overflow: auto;

    &.no-scroll {
        overflow-y: hidden !important;
        touch-action: none;
    }
}